.block {
    padding: 50px 15px;

    @include atLarge {
        padding: 100px 60px 100px 250px;
    }

    &__title {
        text-transform: uppercase;
        color: $primaryColorDark;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 1.625rem;
        margin-bottom: 20px;

        @include atMedium {
            font-size: 2.5rem;
        }
    }

    &__link {
        color:  $primaryColorDark;
        font-weight: 600;   
        letter-spacing: 2px;

        @include atMedium {
            font-size: 1.125rem;
        }

        &:hover {
            color: $primaryColor;
            text-decoration: none;
        }
    }
}