
// ============ Colors ============

$primaryColor: #AD5FCE;
$primaryColorDark: #623473;
$secondaryColor: #FF7221;

// ============ Screen widths ============

$smallest-width: 480px;
$small-width: 648px;
$medium-width: 960px;
$large-width: 1200px;


//  ============ Fonts ============

$bungee: 'Bungee Outline', cursive;
$raleway: 'Raleway', sans-serif;